.cart {
  display: flex;
  justify-content: space-around;
}

.cartItems {
  width: 70%;
  height: 100%;
  padding: 20px 30px 10px;
  margin-right: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  position: relative;
  z-index: 2;
  margin-bottom: 35px;
}
.cartItem label {
  display: inline-block;
}
.cartItems > p {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.cartItem:first-of-type {
  border: none;
}
.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  border-top: 2px dashed #ccc;
  padding: 32px 0 40px 0;
}
.itemPrice {
  font-size: 15px;
  font-weight: bold;
  color: #ef5013;
  display: inline-block;
}
.discount {
  color: #787878;
  font-size: 15px;
  font-weight: bold;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 8px;
}
.totalPrice {
  font-size: 16px;
  font-weight: 600;
}
.summary {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 50px;
  width: 30%;
  height: 100%;
  position: relative;
  z-index: 3;
}
.summary > p {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.mySummary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0;
}
.cartImg {
  width: 90px;
  height: 90px;
  background-position: center;
  background-size: cover;
}
.quantity,
.name {
  /* font-weight: bold; */
  font-size: 20px;
}
.atyBut {
  display: inline-block;
}
.cartBtn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  transition: 0.4s;
  border-radius: 50%;
}

.mySummary {
  margin-top: 20px;
}
.label {
  font-weight: 500;
  font-size: 17px;
  display: inline-block;
  margin-bottom: 20px;
}
.value {
  float: right;
}
.totalPrice {
  float: right;
  font-size: 20px;
  color: #27ae60;
}
.empty {
  margin-top: 250px;
}
@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .cart {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);

    display: block;
  }
  .cartItems {
    width: 95%;
    margin: auto;
    margin-bottom: 35px;
  }
  .cartItems > p {
    padding: 20px 0;
  }
  .summary > p {
    padding: 20px 0;
  }
  .summary {
    width: 95%;
    margin: auto;
    margin-bottom: 35px;
  }
}
.PurpleButton {
  cursor: pointer;
  width: 100%;
  color: #fff;
  background-color: #371f72;
  display: block;
  margin: auto;
  margin-bottom: 12px;
  border: none;
  padding: 10px 0;
  font-size: large;
}

.PurpleButton:disabled,
.PurpleButton[disabled] {
  background-color: #ddd;
  color: #333;
  cursor: auto;
}
