.myCategoriesParents {
  border: 1px solid #ddd;
}

.myCategoriesParents > p {
  padding: 14px 16px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  color: #2d2d2d;
  background-color: #fff;
}

.myCategories {
  background-color: #fff;
  padding: 12px 16px;
  text-transform: capitalize;
  height: 46px;
  font-size: 15px;
  color: #2d2d2d;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: 0.14s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.myCategories:hover {
  background-color: #f0f0f0;
}

.myCategories > div > .Img {
  height: 30px;
  width: 25px;
}
.active:before {
  content: "";
  position: absolute;
  left: 0;
  width: 221px;
  height: 45px;
  background-color: #f0f0f096;
}
@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .myCategories p,
  .navTag {
    display: none;
  }
}
