.dad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 80vh; */
  padding: 50px;
  background-color: honeydew;
  box-shadow: 0 5px 30px rgb(0 0 0 / 16%);
  border-radius: 6px;
}

.Image {
  width: 350px;
  height: 350px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.realatev {
  position: relative;
}
.ovarlay {
  position: absolute;
  background-color: #371f72;
  top: -35px;
  left: 0;
  right: 0;
  height: 40vh;
}

.end {
  text-align: left;
  flex-basis: 50%;
}

.start {
  flex-basis: 50%;
}

.itemButton {
  padding: 11px 20px;
  background-color: #371f72;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  border: none;
  margin-top: 20px;
}
.showNotification {
  transition: visibility 0s, opacity 0.5s linear;
  position: fixed;
  bottom: 0;
  right: 0%;
  z-index: 999999999;
  opacity: 1;
  font-weight: bolder;
  text-transform: uppercase;
}
.loding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loding img {
  width: 250px;
}
@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .dad {
    flex-direction: column;
    margin: 15px;
  }
  .end {
    text-align: center;
  }
  .end p {
    margin: 20px 0;
  }
}
