.myCategoriesDad {
  border: 1px solid #ddd;
}
.myCategoriesDad > p {
  padding: 14px 16px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  text-transform: capitalize;
  font-weight: bold;
  color: #2d2d2d;
}

.myCategories {
  font-size: 18px;
  font-weight: 600;
  color: #2d2d2d;
  padding: 14px 16px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
}
.myCategories:hover {
  background-color: #fff;
}

.myCategories > div > .Img {
  width: 25px;
  height: 30px;
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .navTag {
    display: none;
  }
}
