.myNav {
  margin-left: 35px;
}
.UL {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UL > li {
  list-style: none;
}
.UL > li a {
  margin-right: 35px;
  color: #000;
}
.UL > li > p {
  margin-left: 25px;
  display: inline-block;
}

.cartNum {
  /* background-color: crimson;
  color: aliceblue; */
  border-radius: 50%;
  /* padding: 5px; */
  position: absolute;
  top: 0;
  margin-right: 100px;
}
