.showNotification {
  transition: visibility 0s, opacity 0.5s linear;
  position: fixed;
  bottom: 0;
  right: 0%;
  z-index: 999999999;
  opacity: 1;
  font-weight: bolder;
  text-transform: uppercase;
}
.myNav {
  padding: 15px 0;
}
.myHr {
  margin: 0;
  margin-bottom: 35px;
}
.userNmae {
  color: #2d2d2d;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.UL {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UL > li {
  list-style: none;
}

.UL > li > p {
  margin-left: 25px;
  display: inline-block;
}
.cartPtn {
  position: relative;
}
.cartNum {
  background-color: crimson;
  color: aliceblue;
  border-radius: 50%;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: 0;
  line-height: 15px;
}

.searchBox {
  /* position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background: #2f3640;

  /* border-radius: 40px; */

  /* padding: 0 5px; */
}

.searchBox:hover > .searchText {
  width: 240px;
  padding: 0 6px;
}

.UL > li .myLink {
  margin-right: 50px;
  color: #2d2d2d;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.iconMargenLeft {
  margin: 5px 0 5px 50px;
}
.searchBtn {
  /* color: #e84118; */
  /* margin: 0 20px; */
  /* background-color: #2f3640; */
  border: none;
  margin: 5px 0 5px 50px;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background: #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

.searchText {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 50px;
  width: 0px;
  margin-right: -50px;

  /*   width: 250px; */
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.popupContent {
  position: absolute;
  background-color: #fff;
  top: -41vh;

  right: -47vw;
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
}
/* .dropdownContent {
  position: absolute !important;
  background-color: #fff;
  top: 50%;
  right: -628px;
  border: 1px solid #ccc;
  padding: 10px;

} */
.avatar {
  /* width: 35px; */
}

.LoginForm,
.SigninForm {
  color: aliceblue;
  background-color: #2f3640;
  border-radius: 6px;
  text-align: center;
  padding: 50px;
}

.LoginForm p,
.SigninForm p {
  margin-bottom: 20px;
}

.LoginForm input,
.SigninForm input {
  margin-bottom: 20px;
  width: 500px;
}

.LoginForm button,
.SigninForm button {
  margin-bottom: 20px;
  display: block;
  width: 100%;
}
.LoginForm a:hover,
.SigninForm a:hover {
  color: #3273dc;
}

/* ssssssssssssssssssssssssssssssssssssss */

.navBar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navBar > a {
  color: var(--text-color);
  text-decoration: none;
}
.navBar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navBarNav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.navItem {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconButton {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.iconButton:hover {
  filter: brightness(1.2);
}

.iconButton > img {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}
.DropDown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  z-index: 9999999;
}

.menuItem {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  color: var(--text-color);
}

.menuItem:hover {
  background-color: #525357;
}
.icon-right {
  margin-left: auto;
}
.menu {
  width: 100%;
}

/* CSSTransition classes  */
.menuprimaryenter {
  position: absolute;
  transform: translateX(-110%);
}
.menuprimaryenteractive {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menuprimaryexit {
  position: absolute;
}
.menuprimaryexitactive {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menusecondaryenter {
  transform: translateX(110%);
}
.menusecondaryenteractive {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menusecondaryexit {
}
.menusecondaryexitactive {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .UL {
    flex-direction: column;
    position: absolute;
    right: -99999px;
  }
  .UL > li .myLink {
    margin-right: 0;
    padding-bottom: 50px;
  }
}
