.myCard {
  width: calc(25% - 20px);
  margin: 0 10px 10px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.content {
  padding: 0 16px;
}
.myCard p {
  margin: 0;
  padding: 0;
  font-weight: bolder;
}

.Image {
  height: 240px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Image img {
  max-width: 92%;
  max-height: 92%;
}
.category {
  color: #787878;
  font-size: 14px;
  margin: 12px 0 0;
}

.itemName {
  font-size: 18px;
  font-weight: 600;
  margin: 4px 0 8px;
  cursor: pointer;
  outline: 0;
}
.itemPrice {
  font-size: 15px;
  font-weight: bold;
  color: #ef5013;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 12px !important;
}
.discount {
  color: #787878;
  font-size: 14px;
  margin: 12px 0 0;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 8px !important;
}

.itemButton {
  margin-bottom: 12px;
  width: 100%;
  padding: 11px 20px;
  background-color: #371f72;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;

  border: none;
}
.itemButton:disabled,
.itemButton[disabled] {
  background-color: #ddd;
  color: #333;
  cursor: auto;
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */

  .myCard {
    width: calc(100% - 20px);
    margin: 0 10px 10px 10px;
    z-index: 99999;
  }
}

@media (max-width: 1500px) {
  .myCard {
    /* width: calc(25% - 20px); */
  }
}
