.myCard {
  width: calc(100% / 4 - 16px);
  margin: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 8px 0;
  margin: 0 8px 20px;
}
.myCard .content {
  padding: 0 16px;
}
.myCard p {
  margin: 0;
  padding: 0;
  font-weight: bolder;
}

.Image {
  /* max-width: 92%;
    max-height: 92%; */
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.category {
  color: #787878;
  font-size: 14px;
  margin: 12px 0 0 !important;
}

.itemName {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  outline: 0;
  color: black;
  margin: 4px 0 8px !important;
}
.itemPrice {
  font-size: 15px;
  font-weight: bold;
  color: #ef5013;
  display: inline-block;
  margin-left: 20px;
}
.discount {
  color: #787878;
  font-size: 14px;
  margin: 12px 0 0;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 8px !important;
}

.itemButton {
  margin-top: 12px 0;
  padding: 11px 20px;
  background-color: #371f72;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  border: none;
}

.showNotification {
  transition: visibility 0s, opacity 0.5s linear;
  position: fixed;
  bottom: 0;
  right: 0%;
  z-index: 999999999;
  opacity: 1;
  font-weight: bolder;
  text-transform: uppercase;
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .myCards {
    flex-direction: column;
  }
  .myCard {
    width: calc(100% - 20px);
    margin: 10px;
  }
}
