.stepsBar {
  width: 500px;
  margin: 50px auto 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.step {
  display: flex;
  align-items: center;
}

.step .circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: relative;

  color: rgb(239, 80, 19);
  border: 2px solid rgb(239, 80, 19);
  background-color: transparent;
}
.active {
  background-color: ef5013;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: relative;
  background-color: rgb(239, 80, 19);
  color: rgb(239, 80, 19);
  border: 2px solid #ddd;
}
.circle img {
  width: 17px;
}
.step .line {
  width: 200px;
  height: 2px;
  background-color: #ddd;
}
.lineActive {
  width: 200px;
  height: 2px;
  background-color: rgb(239, 80, 19);
}
.step:last-of-type .line {
  display: none;
}
.step .stepName {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 50%;
  color: black;

  transform: translateX(-50%);
  font-size: 17px;
}

@media only screen and (max-width: 700px) {
  .stepsBar {
    width: 100vw;
    height: 120px;
    padding: 20px;
    overflow: scroll;
  }
}
