.dad {
  display: flex;
  justify-content: space-between;
}
.productsandProductsNav {
  width: calc(100% - 245px);
}
.myCards {
  display: flex;
  flex-flow: row wrap;
  /* margin: auto; */
  width: 85% !important;
  /* display: none; */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.ProductNave {
  width: 220px;
  margin-right: 25px;
}

.loding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loding img {
  width: 250px;
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .myCards {
    flex-direction: column;
  }
  .myCard {
    width: calc(100% - 20px);
    margin: 10px;
  }
}
