.dad {
  display: flex;
  justify-content: space-between;
}

.myCards {
  display: flex;
  flex-flow: row wrap;
  /* margin: auto; */
  width: 85% !important;
  /* display: none; */
}
.ProductNave {
  width: 15%;
  margin-top: 10px;
}
.myCard {
  width: calc(25% - 20px);
  margin: 10px;
}

.Image {
  width: 100%;
  height: 350px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
