.showNotification {
  transition: visibility 0s, opacity 0.5s linear;
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 999999999;
  opacity: 1;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: #2ecc71;
  color: #fff;
  padding: 20px 30px;
}

@media only screen and (max-width: 700px) {
  .showNotification {
    top: 10%;
    bottom: inherit;
    right: 5%;
  }
}
