.parents {
  position: relative;
}
.aboutCart {
  background-color: #31475e;
  color: azure;
  padding: 35px;
  width: 500px;
  margin: auto;
  border-radius: 6px;
  line-height: 45px;
}
.aboutLogo {
  width: 200px;
  height: 150px;
  margin: auto;
}

.aboutCart p {
  text-align: center;
}

.aboutCart a {
  text-decoration: underline;
  display: block;
  color: #2980b9;
}

@media only screen and (max-width: 700px) {
  .aboutCart {
    width: 90vw;
  }
}
