.stepsBar {
  width: 500px;
  margin: 50px auto 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.step {
  display: flex;
  align-items: center;
}

.step .circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: relative;

  color: #fff;
  border: 2px solid #ddd;
  background-color: aqua;

  /* done */
  /* border: 2px solid #ef5013;
  background-color: #ef5013;
   */
}
.circle img {
  width: 17px;
}
.step .line {
  width: 200px;
  height: 2px;
  background-color: #ddd;

  /* done */
  /* background-color: #ef5013; */
}
.step:last-of-type .line {
  display: none;
}
.step .stepName {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 50%;
  color: black;

  transform: translateX(-50%);
  font-size: 17px;
}

@media only screen and (max-width: 700px) {
  .step {
    justify-content: space-around;
    width: 100%;
  }
  .stepsBar {
    overflow: scroll;
  }
  .Formbutton {
    /* margin-inline: 500px; */
  }
}
