.formInputs {
  margin: 35px 0;
}

.formInputs > div > input {
  margin: 20px 0;
}
.dad {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myLink {
  color: #4a4a4a;
  margin-left: 35px;
}

.myLink:hover {
  border-bottom: 1.5px solid #000;
}
