.dad {
  position: relative;
  height: 40vh;
}

.cover {
  background-image: url("/./icons/cover.jpg");
  background-position: bottom center;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: -29px;
  left: 0;
  right: 0;
}

.userProfileImg {
  background-image: url("/./icons/avatar.svg");
  background-position: center center;
  background-size: cover;
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: -90px;
  left: 50px;
  right: 0;
}

.userProfileInfo {
  position: absolute;
  bottom: -80px;
  left: 300px;
  right: 0;
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .userProfileImg,
  .icons {
    display: none;
  }

  .userProfileInfo {
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
