.Checkout {
  position: relative;
}
.MyForm {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #ccc;
}

.haveWidth > div > label,
.fullWidth > label {
  font-size: 15px;
  font-weight: bold;
  width: 130px;
  display: block;
}
.Personal {
  border-bottom: 2px dashed #ccc;
  margin-bottom: 25px;
  padding-bottom: 20px;
}

.MyForm {
  width: 1000px;
  padding: 35px;
}
.haveWidth {
  display: flex;
  justify-content: space-between;
}
.haveWidth > div > input {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid rgb(189 189 189);
  width: 450px;
}

.fullWidth > input {
  border: 1px solid rgb(189 189 189);
  padding: 10px;
  margin: 20px 0;
  width: 100%;
}
.Contact > p,
.Personal > p {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 25px;
  text-align: center;
}

.Contact > p::after,
.Contact > p::before {
  content: " ----- ";
  color: #ccc;
}

.Personal > p::after,
.Personal > p::before {
  content: " ----- ";
  color: #ccc;
}

.nextBtn {
  padding: 11px 20px;
  background-color: #371f72;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: none;
}
/* //pament */
.pamentMethod {
  border: 1px solid #ccc;
  width: 1000px;
  margin: auto;
  padding: 10px 35px;
  margin-bottom: 30px;
}

.pamentMethod > div > div {
  margin: 10px 0;
}
.pamentbtn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.myLabelRadio {
  font-size: 15px;
  font-weight: bold;
}
.myRadioInput {
  margin-right: 10px;
}

.parent {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}
.img {
  padding-left: 10px !important;
}
/* Done */
.Done {
  text-align: center;
}
.myDone {
  padding-top: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.Done > img {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border-radius: 50%;
}
.Done > p {
  margin: 0;
  margin: 50px 0;
}

.goToShop {
  width: 400px;
  margin: 12px 0;
  padding: 11px 20px;
  background-color: #371f72;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .haveWidth {
    align-items: center;
    align-content: stretch;
    flex-direction: column;
  }

  .MyForm {
    border: none;
    padding: 50px 0;
    margin: auto;
    width: 90vw;
  }
  .pamentMethod {
    width: 90vw;
  }
  .pamentbtn {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
