.dad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.Image {
  width: 350px;
  height: 350px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
